swagger: "2.0"
info:
  version: 1.0.0
  title: crimzone
  description: The crimzone service, used for looking up crimes.
  termsOfService: N/A
  contact:
    name: Gustav Karlsson
    email: gustav.karlsson@gmail.com
    url: http://gustavkarlsson.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /crimes/{id}:
    get:
      description: Returns a crime based on a single ID
      operationId: findById
      parameters:
        - name: id
          in: path
          description: ID of crime to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: crime response
          schema:
            $ref: '#/definitions/Crime'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /crimes:
    get:
      description: Returns all crimes matching the search parameters
      operationId: find
      parameters:
        - name: query
          in: query
          description: text search query
          required: false
          type: string
        - name: minTime
          in: query
          description: earliest possible time of the crimes to return
          required: false
          type: string
          format: date-time
        - name: maxTime
          in: query
          description: latest possible time of the crimes to return
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: crimes response
          schema:
            type: array
            items:
              $ref: '#/definitions/CrimeLocation'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  CrimeLocation:
    properties:
      id:
        type: integer
        format: int64
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
    required:
      - id
      - latitude
      - longitude
  Crime:
    allOf:
      - $ref: '#/definitions/CrimeLocation'
    properties:
      time:
        type: string
        format: date-time
      title:
        type: string
      description:
        type: string
    required:
      - time
      - description
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
    required:
      - code
      - message
