swagger: "2.0"
info:
  version: 1.0.0
  title: crimzone
  description: Describes the crimzone service, used for looking up crimes.
  termsOfService: N/A
  contact:
    name: Gustav Karlsson
    email: gustav.karlsson@gmail.com
    url: http://gustavkarlsson.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
host: nothing.yet
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /crimes/{id}:
    get:
      description: Returns a crime based on a single ID
      operationId: findById
      parameters:
        - name: id
          in: path
          description: ID of crime to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: crime response
          schema:
            $ref: '#/definitions/FullCrime'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  BasicCrime:
    required:
      - id
      - time
      - coordinates
    properties:
      id:
        type: integer
        format: int64
      time:
        type: string
        format: date-time
      title:
        type: string
      coordinates:
        $ref: '#/definitions/Coordinates'
  FullCrime:
    allOf:
      - $ref: '#/definitions/BasicCrime'
    required:
      - description
    properties:
      description:
        type: string
  Coordinates:
    required:
      - longitude
      - latitude
    properties:
      longitude:
        type: number
        format: double
      latitude:
        type: number
        format: double
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string