swagger: "2.0"
info:
  version: 1.0.0
  title: crimzone
  description: The crimzone service, used for looking up crimes.
  termsOfService: N/A
  contact:
    name: Gustav Karlsson
    email: gustav.karlsson@gmail.com
    url: http://gustavkarlsson.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /crimes/{id}:
    get:
      tags:
        - crimes
      description: Finds a crime based on a single ID
      operationId: findById
      parameters:
        - name: id
          in: path
          description: ID of crime to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: A single crime
          schema:
            $ref: '#/definitions/Crime'
        404:
          description: A Not Found error (404) indicating that a crime with that ID could not be found
  /crimes:
    get:
      tags:
        - crimes
      description: Returns all crimes matching the search parameters
      operationId: find
      parameters:
        - name: text
          in: query
          description: Text to match
          required: false
          type: string
        - name: bounds
          in: query
          description: 'A GeoJSON Polygon representing the bounds in which crimes will be searched (see http://geojson.org/geojson-spec.html#polygon)'
          required: false
          type: array
          items:
            type: number
            format: double
        - name: minTime
          in: query
          description: Earliest possible time of the crimes to return
          required: false
          type: string
          format: date-time
        - name: maxTime
          in: query
          description: Latest possible time of the crimes to return
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: Individual crimes and clusters of crimes (depending on the server)
          schema:
            $ref: '#/definitions/Crimes'
definitions:
  Crime:
    properties:
      _id:
        type: integer
        format: int64
      time:
        type: string
        format: date-time
      location:
        $ref: '#/definitions/GeoJsonPoint'
      title:
        type: string
      description:
        type: string
    required:
      - _id
      - time
      - location
      - title
      - description
  CrimeCluster:
    properties:
      location:
        $ref: '#/definitions/GeoJsonPoint'
      count:
        type: integer
        format: int64
    required:
      - location
      - count
  Crimes:
    properties:
      individual:
        type: array
        items:
          $ref: '#/definitions/Crime'
      clusters:
        type: array
        items:
          $ref: '#/definitions/CrimeCluster'
    required:
      - individual
      - clusters
  GeoJsonPoint:
    properties:
      type:
        type: string
        pattern: '^Point$'
      coordinates:
        type: array
        minItems: 2
        maxItems: 2
        items:
          type: number
          format: double
        description: 'order: [longitude, latitude]'
    required:
      - type
      - coordinates