swagger: "2.0"
info:
  version: 1.0.0
  title: crimzone
  description: The crimzone service, used for looking up crimes.
  termsOfService: N/A
  contact:
    name: Gustav Karlsson
    email: gustav.karlsson@gmail.com
    url: http://gustavkarlsson.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /crimes/{id}:
    get:
      tags:
        - crimes
      description: Returns a crime based on a single ID
      operationId: findById
      parameters:
        - name: id
          in: path
          description: ID of crime to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: A single Crime response
          schema:
            $ref: '#/definitions/Crime'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /crimes:
    get:
      tags:
        - crimes
      description: Returns all crimes matching the search parameters
      operationId: find
      parameters:
        - name: zoom
          in: query
          description: Zoom level (as described in https://developers.google.com/maps/documentation/static-maps/intro#Zoomlevels)
          required: true
          type: integer
          format: int32
        - name: text
          in: query
          description: Text to match
          required: false
          type: string
        - name: minTime
          in: query
          description: Earliest possible time of the crimes to return
          required: false
          type: string
          format: date-time
        - name: maxTime
          in: query
          description: Latest possible time of the crimes to return
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: Individual crimes and clusters of crimes (depending on the server)
          schema:
            $ref: '#/definitions/Crimes'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Crime:
    properties:
      _id:
        type: integer
        format: int64
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
      time:
        type: string
        format: date-time
      title:
        type: string
      description:
        type: string
    required:
      - _id
      - latitude
      - longitude
      - time
      - title
      - description
  CrimeCluster:
    properties:
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
      count:
        type: integer
        format: int64
    required:
      - latitude
      - longitude
      - count
  Crimes:
    properties:
      individual:
        type: array
        items:
          $ref: '#/definitions/Crime'
      clusters:
        type: array
        items:
          $ref: '#/definitions/CrimeCluster'
    required:
      - individual
      - clusters
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
    required:
      - code
      - message