swagger: "2.0"
info:
  version: 1.0.0
  title: crimzone
  description: The crimzone service, used for looking up crimes.
  termsOfService: N/A
  contact:
    name: Gustav Karlsson
    email: gustav.karlsson@gmail.com
    url: http://gustavkarlsson.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /crimes/{id}:
    get:
      tags:
        - crimes
      description: Returns a crime based on a single ID
      operationId: findById
      parameters:
        - name: id
          in: path
          description: ID of crime to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: A single Crime response
          schema:
            $ref: '#/definitions/Crime'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /crimes:
    get:
      tags:
        - crimes
      description: |
        Gets all crimes as a base64 encoded byte array where each crime is 16 bytes long.
        Bytes 1-4: id of the crime as a signed int.
        Bytes 5-8: number of seconds since the epoch as a signed int.
        Bytes 9-12: latitude as a float.
        Bytes 13-16: longitude as a float.Returns all crimes in the database, formatted as a base64 string
      operationId: getAll
      responses:
        200:
          description: Individual crimes and clusters of crimes (depending on the server)
          schema:
            $ref: '#/definitions/Crimes'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Crime:
    properties:
      _id:
        type: integer
        format: int32
      time:
        type: integer
        format: int32
      latitude:
        type: number
        format: float
      longitude:
        type: number
        format: float
      title:
        type: string
      description:
        type: string
    required:
      - _id
      - time
      - latitude
      - longitude
      - title
      - description
  Crimes:
    properties:
      data:
        type: string
        format: binary
    required:
      - data
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
    required:
      - code
      - message